<div class="card" >
    <img class="card-img-top" height="300"  src="{{data.image}}" alt="Card image">
    <div class="card-body" > 
      <h4 class="card-title">              
        <span class="badge rounded-pill bg-danger" style="float: right;">
             {{ data.price | currency}}
        </span>                
        {{ data.category}}
    </h4>
      <p class="card-text">{{data.description.substring(1 , 50)}} <a href="#" style="text-decoration: none;" routerLink="/productdetails/{{data.id}}">.. more</a></p>
      <button  class="btn btn-success"  *ngIf="!addButton" (click)="addButton=true" >Add to cart</button>



      <div class="d-flex w-30" *ngIf="addButton">
        <input  type="number" min="1" style="font-weight: bold;color: black !important;" placeholder="enter quantity" class="form-control" [(ngModel)]="amount">
        <button class="btn btn-success" (click)="add()">Add</button>

      </div>

      <a class="btn btn-primary" style="float: right;" routerLink="/productdetails/{{data.id}}">Details</a>

    </div>
  </div>
