
<div class="row">
  <div class="col-xl-4">
    <div class="card" style="width:355px; float: left;">
      <app-select [data]="categories" (selectedValue)="filterCategor($event)"></app-select>
    </div>
  </div>
  <div class="col-xl-4"></div>
  <div class="col-xl-4"></div>
</div>

<div class="row">
    <div class="col-xl-3" style="margin-bottom: 50px;" *ngFor="let product of products" routerLink="productdetails/1"> 
      <app-product [data]="product" (item)="addToCart($event)"></app-product>
    </div>
</div>


