<img src="../../../../assets/imgs/logo.gif" width="100%" height="350" />

<div class="container">
  <div class="row">
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div
        class="display-1"
        style="display: block; margin: auto; text-align: center"
      >
        <strong
          class="animate__animated animate__flash animate__infinite infinite"
          >Online</strong
        >
        &smile;
        <span class="text-light badge rounded-pill bg-danger">Shop</span>
        <div style="font-size: 30px; margin-top: 15px">
          <i
            style="color: brown !important"
            class="fa-solid fa-dumpster animate__animated animate__swing"
          ></i>
          &nbsp;
          <i
            style="color: purple !important"
            class="fa-solid fa-cart-shopping animate__animated animate__swing"
          ></i>
          &nbsp;
          <i
            style="color: green !important"
            class="fa-brands fa-shopify animate__animated animate__swing"
          ></i>
          &nbsp;
          <i
            style="color: blue !important"
            class="fa-brands fa-cc-visa animate__animated animate__swing"
          ></i>
          &nbsp;
          <i
            style="color: orange !important"
            class="fa-brands fa-cc-amazon-pay animate__animated animate__swing"
          ></i>
          &nbsp;
          <i
            style="color: white !important"
            class="fa-brands fa-cc-paypal animate__animated animate__swing"
          ></i>
        </div>
      </div>
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
  </div>
</div>


